/* Root background */
.root {
    -fx-background-color: #0d1e4c;
}

/* Buttons */
.button {
    -fx-background-radius: 15;
    -fx-font-family: "Poppins";
    -fx-text-fill: #faceea;
    -fx-background-color: linear-gradient(to right, #0b1b32, #26415e);
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #83a6ce, #8a79b4);
}

.button:pressed {
    -fx-background-color: linear-gradient(to right, #c48cb3, #e5c9d7);
}

/* Labels */
.label {
    -fx-text-fill: #faceea;
}

.dashboard-title { -fx-text-fill: #faceea; }
.dashboard-subtitle { -fx-text-fill: #c1d4ff; }

.stat-card { -fx-text-fill: #faceea; }
.stat-value { -fx-text-fill: #faceea; }
.stat-desc { -fx-text-fill: #c1c6e0; }

.mini-card { -fx-text-fill: #faceea; }

.focus-box { -fx-background-color: #1b2747; }
.analytics-box { -fx-background-color: #2e3b65; }
.main-goal { -fx-background-color: #1e2a55; }
